<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Square Of Number!</title>
</head>
<body>
    <h1>Extract Audio from Video</h1>
    {% if error %}
      <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form action="/extract_audio" method="POST" enctype="multipart/form-data">
      <label for="video_file">Upload Videoo:</label>
      <input type="file" id="video_file" name="video_file" accept="video/*" required>
      <br>
      <button type="submit">Extract Audio</button>
    </form>
  </body>
</html>